@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-7kayb7-control{
  height: 100%;
  border-color: #9ca3af !important;
}
.react-datepicker-wrapper{
  width: 100%;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.pagination-link a {
  display: flex; 
  justify-content: center;
  align-items: center; 
  color: black;
  width: 100%; 
  height: 100%; 
  text-decoration: none;
  cursor: pointer; 
}
.pagination-link a:hover {
  color: black;
}
.active-pagination-link a:hover {
  color: white;
}
.active-pagination-link a {
  color: white;
}
.loader {
  border: 4px solid #fff;
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid #fff;
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid #fff;
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}
@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.page-loader {
  width: 44.8px;
  height: 44.8px;
  color: #EB8844;
  position: relative;
  background: radial-gradient(11.2px,currentColor 94%,#0000);
}

.page-loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top    left,
          radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top    right,
          radial-gradient(10.08px at top    right,#0000 94%,currentColor) bottom left,
          radial-gradient(10.08px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 22.4px 22.4px;
  background-repeat: no-repeat;
  animation: page-loader 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes page-loader {
  33% {
    inset: -11.2px;
    transform: rotate(0deg);
  }

  66% {
    inset: -11.2px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

.css-t3ipsp-control{
  border-color: #EB8844 !important;
  box-shadow: 0 0 0 1px #EB8844 !important;
}

.custom-select__option--is-selected {
  background-color: #EB8844 !important;
}


.custom-select__option--is-focused {
  background-color: #ffedd5 !important; 
}

.custom-select__option--is-selected.custom-select__option--is-focused {
  background-color: #EB8844 !important; 
}